* {
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    height: 100vh;
    padding-top: 50px;
    margin: 0 auto;
    background-color: #d5d5d5;
}

.registration-form {
    width: 40%;
    height: auto;
    margin: 50px auto;
    background-color: white;
    border-radius: 2%;
}

.registration {
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 2%;
    font-weight: 600;
    background-color: #7266f5;
    color: white;
}

.registration-inputs {
    display: flex;
    flex-direction: column;
    text-align: center;

    padding: 30px;
    gap: 10px;
}

.btn {
    display: block;
    width: 150px;
    height: 30px;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 2%;
    background-color: #7266f5;
    color: white;
    border: none;
}

#errorMessage {
    color: red;
    text-align: center;
}

#message {
    color: green;
    text-align: center;
}

span {
    color: red;
}

h2 {
    margin-bottom: 30px;
}


.container_cat {
    margin: 60px;
}

.names {
    padding: 20px;
}

.name {
    margin: 10px 0;
}

.item {
    margin: 30px 0;
}

.btn_cat {
    margin-left: 0;
}

