.conainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #f0fbf6;
    gap: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.wrapper {
    border: 1px solid #08b865;
    padding: 5px;
    background-color: #FFF;
}

.btn_container {
    display: flex;
    justify-content: space-around;
    flex: 1;
    gap: 5px;
    padding: 5px;

    .img {
        margin: 2px;
    }
}

.btn {
    border: none;
    width: 30px;
    height: 28px;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0.05em 0.05em 0.5em #08b865;
}

.btn_save {
    display: none;
    background-color: #08b865;
}

.btn_edit {
    background-color: #feac4c;
}

.hidden_btn_edit {
    display: none;
}

.remove_edit_btn {
    display: none;
    background-color: #feac4c;
}

.show_remove_edit_btn {
    display: block;
}

.btn_remove {
    background-color: #fa7a7b;
}

.add_btn_save {
    display: block;
}